* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
#miryoku{
    text-align: left;
    padding: 2%;
    padding-left: 3%;
    color: rgb(243, 238, 190);
    font-family: "Mukta", sans-serif;
    font-weight: 800;
    font-style: normal;

    position: sticky;
    top: 0;
    z-index: 1000; /*Un valor tan alto como 1000 hace que se asegure de estar siempre por encima de otros elemento, si otro elemento contiene un valor mas alto como 2000, lo va a tapar*/
    background-color: rgba(101, 114, 41, 0.2); /* El 0.2 hace que se haga transparente, (0. cualquier numero, mas grande el numero despues del punto, menos transparente )*/ 
}
header{
    text-align: center;
    font-size: xx-large;
    background-image:url(imagen/pileta.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
h2{ /*Tu estilo, tu cuerpo, tu bikini*/
    color: rgb(243, 238, 190);
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;

    transition: transform 0.3s ease;
    transform-origin: center;
}
 h2:hover{
    transform: scale(1.1);
 }
h3{ /*Porque senrite linda tambien es parte del verano*/
    color: white;
    font-family: "Birthstone", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    transition: transform 0.3s ease;
    transform-origin: center;
}
h3:hover{
    transform: scale(1.1);
}
#whatsapp{
    position: fixed;
    bottom: 90px; 
    right: 10px; 
    display: flex; 
    flex-direction: column; 
    gap: 10px;

    transition: transform 0.3s ease;
    transform-origin: center;
}
#whatsapp:hover{
    transform: scale(1.3);
}
#instagram{
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    display: flex; 
    flex-direction: column; 
    gap: 10px;
    
    transition:0.3s ease;
    transform-origin: center;
}
#instagram:hover{
    transform: scale(1.3);
}
main{
    border-top: 15px ridge rgb(243, 238, 190);
    border-bottom: 15px groove rgb(243, 238, 190);
    background-image: url(imagen/mar.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
#sentite{
    text-align: center;
    color: rgb(243, 238, 190);
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    margin-top: 1%;
 }   
#sol{
    text-align: center;
    color: rgb(252, 251, 250);
    font-family: "Petit Formal Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 250%;
}
#pedido{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(243, 238, 190);
    font-size: xx-large;  
}
#contactame{
    color: rgb(252, 251, 224);
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;   
    transform-origin: left center;
}
#contactame:hover{
    transform: scale(1.3);
    color: #b4a76a;
}
#redes{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(243, 238, 190);
    font-size: xx-large;
}
#insta{
    color: rgb(252, 251, 224);
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;   
    transform-origin: left center;
}
#insta:hover{
    transform: scale(1.3);
    color: #b4a76a;
}
 .f{
    background-color: rgb(243, 238, 190) ;
    color: #b4a76a;
    text-align: center;
 }
 .redes {
  display: inline-flex;
  
  vertical-align: middle;
}

.redes img {
  width: 50px;
  height: auto;
}

